

.pfooter{
    display: block;
    margin: 5px;
    text-align: center;
    
}

.pbox .a{
    text-decoration: none;
}
.pfooter .pbox-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1.5rem;
}

.pfooter .pbox-container .pbox h3{
    font-size: 1.8rem;
    color: #444;
    padding: .4rem 0;
}
.pfooter .pbox-container .pbox a {
    text-decoration: none;
    display: block;
    font-size: 1.2rem;
    color: #777;
    padding: .8rem 0;
}


.pfooter .pbox-container .pbox a i{
    padding-right: .5rem;
    color: #16a085;
}
.pfooter .pbox-container .pbox a:hover i {
    padding-right: .5rem;
    color: #16a085;
}

.pfooter .pcredit{
    padding: 1rem;
    padding-top: 2rem;
    margin-top: 2rem;
    text-align: center;
    font-size: 2rem;
    color : #777 ;
    border-top: .1rem solid rgba(0,0,0.1);
}
.pfooter .pcredit span{
    color :#16a085;
}