<% layout("/layouts/boilerplate") %> home section start
<body>
  
  <section class="home" id="home">
    <div class="image">
      <img src="svg/blood research-amico.svg" alt="" />
    </div>
    <div class="content">
      <h3>stay safe,stay healthy</h3>
      <p>
        Our website, E-health, is a comprehensive platform dedicated to
        promoting health and well-being. Through a user-friendly interface, we
        provide access to a wide range of healthcare services, including free
        checkups, 24/7 ambulance services, expert consultations, medication
        provision, and comfortable bed facilities. With over 140 dedicated
        doctors and a track record of serving over 1040 satisfied patients, we
        prioritize compassionate care and optimal health outcomes. Our mission
        is to ensure healthcare accessibility for all, offering preventive care,
        diagnosis, and treatment solutions.
      </p>
      <a href="" class="m-btn">
        Contact Us <span class="fas fa-hevron-right"></span
      ></a>
    </div>
  </section>
  <section class="icons-container">
    <div class="icons">
      <i class="fas fa-user-md"></i>
      <h3>140+</h3>
      <p>Doctors at work</p>
    </div>
    <div class="icons">
      <i class="fas fa-users"></i>
      <h3>1040+</h3>
      <p>Satisfied patients</p>
    </div>
    <div class="icons">
      <i class="fas fa-procedures"></i>
      <h3>500+</h3>
      <p>Bed facility</p>
    </div>
    <div class="icons">
      <i class="fas fa-hospital"></i>
      <h3>80+</h3>
      <p>Available hospitals</p>
    </div>
  </section>
  <section class="about" id="about">
    <h1 class="heading"><span>ABOUT </span> US</h1>
    <div class="row">
      <div class="image">
        <img
          src="https://img.freepik.com/free-vector/cartoon-healthcare-professionals_23-2148909560.jpg?t=st=1710603330~exp=1710606930~hmac=8d5814dcf68076e9d62fc030e0676320f099f48d038b415e0de915ffddefdb5a&w=740"
          alt=""
        />
      </div>
      <div class="content">
        <h3>We take care of your life</h3>
        <p>
          At [Your Company Name], our mission is to provide exceptional
          healthcare services tailored to meet your needs. With a dedicated team
          of medical professionals, cutting-edge facilities, and a commitment to
          excellence, we ensure that your well-being is our top priority.
          Whether it's preventive care, diagnosis, or treatment, we're here to
          support you every step of the way. Trust us to take care of your
          health, so you can focus on living your best life.
        </p>
        <a href="#" class="btn">Learn more </a>
      </div>
    </div>
  </section>
  <section class="doctors" id="doctors">
    <h1 class="heading">OUR <span>DOCTORS</span></h1>
    <div class="row">
      <div class="col">
        <div class="doc-card">
          <img
            src="https://media.istockphoto.com/id/484578761/photo/portrait-of-senior-doctor.jpg?s=2048x2048&w=is&k=20&c=cvmxJ8QRS_XXIsjUXfjehEsBtjrqJeCTa2j3qHsEXHU="
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Dr.Ramakrishnan</h5>
            <p class="card-text">
              Experienced doctors providing compassionate care and expertise for
              optimal health
            </p>

            <a href="appointment.html" class="mu-btn btn-primary"
              >Book Appoinment</a
            >
          </div>
        </div>
      </div>
      <div class="col">
        <div class="doc-card">
          <img
            src="https://media.istockphoto.com/id/626121560/photo/young-serious-handsome-bearded-doctor-with-white-coat-and-stethoscope.jpg?s=2048x2048&w=is&k=20&c=G6jPFT2gWfJTj-OpkbStRH5VhFhls0HlunGtUaMHkXg="
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Dr.Akshay Patil</h5>
            <p class="card-text">
              Experienced doctors providing compassionate care and expertise for
              optimal health
            </p>

            <a href="appointment.html" class="mu-btn btn-primary"
              >Book Appoinment</a
            >
          </div>
        </div>
      </div>
      <div class="col">
        <div class="doc-card">
          <img
            src="https://media.istockphoto.com/id/467371167/photo/portrait-of-confident-doctor.jpg?s=2048x2048&w=is&k=20&c=sZHbbL7voKg_5__eGttb-yjAqKkbM16IzSc68o6Qg_U="
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Dr.Surya Joshi</h5>
            <p class="card-text">
              Experienced doctors providing compassionate care and expertise for
              optimal health
            </p>

            <a href="appointment.html" class="mu-btn btn-primary"
              >Book Appoinment</a
            >
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="doc-card">
          <img
            src="https://media.istockphoto.com/id/802358926/photo/portrait-of-serious-handsome-young-male-doctor-holding-hand-in-pocket-standing-on-gray.webp?s=2048x2048&w=is&k=20&c=h9pIVs8iQ4-zKU0NMG5UaqYUW0rfi3R3VIRtpZQ6XDQ="
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Dr.Sitaram</h5>
            <p class="card-text">
              Experienced doctors providing compassionate care and expertise for
              optimal health
            </p>

            <a href="appointment.html" class="mu-btn btn-primary"
              >Book Appoinment</a
            >
          </div>
        </div>
      </div>
      <div class="col">
        <div class="doc-card">
          <img
            src="https://media.istockphoto.com/id/956392390/photo/serious-hipster-african-doctor-holding-apples.webp?s=2048x2048&w=is&k=20&c=eSPH0Peg2U9FziRqZkvL14Dq_hveebHa48HD9H0-pm4="
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Dr.James</h5>
            <p class="card-text">
              Experienced doctors providing compassionate care and expertise for
              optimal health
            </p>

            <a href="appointment.html" class="mu-btn btn-primary"
              >Book Appoinment</a
            >
          </div>
        </div>
      </div>
      <div class="col">
        <div class="doc-card">
          <img
            src="https://media.istockphoto.com/id/465654317/photo/cardiologist.webp?s=2048x2048&w=is&k=20&c=PkDO-uxV5mO_6rqIGLx1tTueWxsdVp6CfRTtVp-Lv-s="
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Dr. Murti</h5>
            <p class="card-text">
              Experienced doctors providing compassionate care and expertise for
              optimal health
            </p>

            <a href="appointment.ejs" class="mu-btn btn-primary"
              >Book Appoinment</a
            >
          </div>
        </div>
      </div>
    </div>
  </section>
</body>

<!-- home section end -->
