<% layout("/layouts/boilerplate") %>
<body>
    <div class="bg">
        <img src="landingpgimg.png" alt="" srcset="">
    </div>
    <div class="txt">

        <div class="download_app_btn download_app_btn_left">
            <a href="patient-home.php" target="_self">I'm Patient</a>
        </div>
        
        <div class="download_app_btn download_app_btn_right doc_btn_brd">
            <a href="doctor-home.php" target="_self">I'm Doctor</a>
        </div>
        
    </div>
    <div class="ftxt">
        <p>MRPL PRIVATE LIMITED| India’s Top Doctor’s Emr App
            India’s top doctor prefer [] for building their own brand personalized healthcare (clinic or hospital) app.
            <br>
            This doctor app has proven to be the easy management for daily clinic activity. Thousands of doctors or surgeons prefer [] for their building their own EMR application.
            <br>

            [] ranks in Top 10 online doctor consultation app India We are one of the top hospital appointment booking app.</p>
    </div>

</body>
