<% layout("/layouts/boilerplate") %>
<body>
    
     <!-- SERVICES -->

     <section class="services" id="services">
        <h1 class="heading">Our Services</h1>
        <div class="box-container">
          <div class="box">
              <a href="#" class="btn">
            <i class="fas"></i>
            <img
              src="https://img.freepik.com/free-vector/doctor-examining-patient-clinic-illustrated_23-2148856559.jpg?w=996&t=st=1710589004~exp=1710589604~hmac=77ea749543af693f3acdc8ed7f25972f2c325d0b9fd25765c189a5a25925f1e1"
              alt=""
              srcset=""
            />
            <h2>Free Checkups</h2>
            <p>
              Access to medical examinations without any cost, ensuring healthcare accessibility for all.
            </p>
            <div class="learn">Learn more <span></span></a></div>
  
          </div>
          <div class="box">
              <a href="#" class="btn">
            <i class="fas"></i>
            <img
              src="https://img.freepik.com/free-vector/ambulance-concept-illustration_114360-6861.jpg?w=996&t=st=1710589080~exp=1710589680~hmac=885910b026a0cc90d4c41154d16013a3a60145bfbcd19926bc4c2b0e9d2ef2dd"
              alt=""
              srcset=""
            />
            <h2>24/7 Ambulance</h2>
            <p>
              Round-the-clock availability of emergency transportation services for swift medical assistance.
            </p>
            <div class="learn">Learn more <span></span></a></div>
  
          </div>
          <div class="box">
              <a href="#" class="btn">
            <i class="fas"></i>
            <img
              src="https://img.freepik.com/free-vector/doctors-concept-illustration_114360-1515.jpg?t=st=1710589157~exp=1710592757~hmac=7a64716272739c5bbf9afb227428e5eebb23e551b69c8da0f8a45cf1ba84555c&w=996"
              alt=""
              srcset=""
            />
            <h2>Expert Doctors</h2>
            <p>
              Consultation and treatment provided by experienced and highly skilled medical professionals.
            </p>
             <div class="learn">Learn more <span></span></a></div>
          </div>
          <div class="box">
              <a href="#" class="btn">
            <i class="fas"></i>
            <img
              src="https://img.freepik.com/free-vector/virus-cure-concept-illustrated_23-2148508689.jpg?t=st=1710589229~exp=1710592829~hmac=aefb823d0c35bb59c295682912365671b69665a343d56b427405b14442a74312&w=740"
              alt=""
              srcset=""
            />
            <h2>Medicines</h2>
            <p>
              Provision of necessary medications to alleviate health issues and promote recovery.
            </p>
            <div class="learn">Learn more <span></span></a></div>
  
          </div>
          <div class="box">
              <a href="#" class="btn">
            <i class="fas"></i>
            <img
              src="https://img.freepik.com/free-vector/people-walking-sitting-hospital-building-city-clinic-glass-exterior-flat-vector-illustration-medical-help-emergency-architecture-healthcare-concept_74855-10130.jpg?t=st=1710589261~exp=1710592861~hmac=af90dfffefc489fa13c11eb9cf3a2dda2911709e258c99b601ded92ba5071862&w=1060"
              alt=""
              srcset=""
            />
            <h2>Bed Facilities</h2>
            <p>
              Rest assured with our comfortable bed facilities, ensuring a conducive environment for recovery.</p>
              <div class="learn">Learn more <span></span></a></div>
  
          </div>
          <div class="box">
              <a href="#" class="btn">
            <i class="fas"></i>
            <div class="content">
              <img
                src="https://img.freepik.com/free-vector/humanization-concept-illustration_114360-21526.jpg?t=st=1710589317~exp=1710592917~hmac=fca48d54231d0d16bb818c5901037c1c4e35f13c5edb85df8442b58370638c34&w=740"
                alt=""
                srcset=""
              />
              <h2>Total Care</h2>
              <p>
                  Comprehensive healthcare services aimed at addressing patients' needs holistically, ensuring their well-being and comfort.
              </p>
              <div class="learn">Learn more <span></span></a></div>
  
            </div>
          </div>
        </div>
      </section>


</body>
